/*
 * Import nib
 */
@import 'nib'

/*
 * Set charset
 */
@charset "utf-8"

/*
 * Nib provides a CSS reset
 */
global-reset()

body,button,dd,dl,dt,footer,h1,h2,h3,h4,input,li,nav,ol,p,textarea,ul 
	margin 0
	padding 0


body
	font 16px/1.5 "Microsoft YaHei","Lucida Sans Unicode","Myriad Pro","Hiragino Sans GB","Heiti SC",Verdana,simsun
	-webkit-text-size-adjust none
	min-width 320px
	max-width 750px
	margin auto


h1,h2,h3,h4,h5,h6
	font-size 100%


form
	display inline


ol,ul
	list-style none


a
	text-decoration none
	color #1a1a1a


a:active,a:focus,a:hover
	color #1c5aa2
	text-decoration none


img
	vertical-align middle
	border 0
	-ms-interpolation-mode bicubic


button,input,select,textarea
	font-size 100%
	vertical-align middle
	outline 0


textarea
	resize none


input
	background 0 0


button,input[type=button],input[type=reset],input[type=submit]
	cursor pointer
	-webkit-appearance button
	-moz-appearance button
	background 0 0


input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder
	color:transparent


button::-moz-focus-inner,input::-moz-focus-inner
	padding 0
	border 0


table
	border-collapse collapse
	border-spacing 0


.fl
	float left


.fr
	float right


.hide
	display none


.show
	display block


.ellipsis
	white-space nowrap
	text-overflow ellipsis
	overflow hidden


.break
	word-break break-all
	word-wrap break-word


article,footer,header,hgroup,menu,nav,section
	display block
	clear all


input::-webkit-inner-spin-button,input::-webkit-outer-spin-button
	-webkit-appearance none!important
	margin 0


input[type=number]
	-moz-appearance textfield


.clearfix
	clear both


body,html
	background #fff


#jm-aboutus
	color #666
	margin-bottom 80px


#jm-aboutus .hd img
	width 70%
	margin 15px 15%


#jm-aboutus .bd
	text-align center
	padding-bottom .4rem


#jm-aboutus .bd .choice
	width 7.5rem
	padding-bottom .4rem
	margin 0 auto
	font-size 12px


#jm-aboutus .bd .choice p
	line-height 24px


#jm-aboutus .bd .choice .tab
	margin-bottom 5px


#jm-aboutus .bd .choice .tab ul li
	width 2.3rem
	float left
	height .7rem
	color #666
	font-size 14px


#jm-aboutus .bd .choice .tab ul li.active
	color #0caffe


#jm-aboutus .bd .choice .tablist
	text-align left


#jm-aboutus .bd .choice .tablist #cont_tab_1
	display block


#jm-aboutus .bd .choice .tablist #cont_tab_2,#jm-aboutus .bd .choice .tablist #cont_tab_3
	display none


#jm-aboutus .bd .split
	width 10rem
	height 1px
	border none
	background-color #eaeaea
	margin-bottom 15px


#jm-aboutus .bd .features
	text-align center
	font-size 12px
	margin-bottom 15px


#jm-aboutus .bd .features p
	height .5rem
	line-height .5rem


#jm-aboutus .bd .features p.tit
	font-size 14px
	color #ff7843
	margin-bottom 5px


#jm-aboutus .bd .features img
	width 1.5rem
	height 1.5rem
	margin-bottom .35rem


#jm-aboutus .bd .features .feature-choice,#jm-aboutus .bd .features .feature-property,#jm-aboutus .bd .features .feature-safe,#jm-aboutus .bd .features .feature-service
	padding-top .45rem
	padding-bottom .45rem
	height 4rem
	width 49%
	margin 0 .5%
	float left


#jm-aboutus .logo-history-wrap
	text-align center
	padding-bottom .45rem


#jm-aboutus .logo-history-wrap p
	line-height .5rem
	text-align left
	margin-bottom .33rem


#jm-aboutus .logo-history-wrap .logo-history
	font-size 12px
	margin 0 auto
	width 8rem
	text-align left
	padding-top .45rem
	padding-bottom .45rem


#jm-aboutus hr.label
	display inline-block
	width .7rem
	line-height 1px
	height 1px
	border none
	border-top 1px solid #eaeaea


#jm-aboutus span.label
	line-height .5rem
	height .5rem
	font-size 14px
	color #414141


